::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    opacity: 0.20;
}

.firstdiv {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.notedivcontent {
    /* border: 1px solid; */
    width: 70rem;
    background-color: #DAE5F5;
}

.noteareadiv {
    height: 43.7rem;
}

.leftheading h1 {
    margin: 0px auto;
    text-align: center;
}

.leftheading {
    position: sticky;
    top: 3rem;
    z-index: 1;
    background-color: #fff;
}

.leftnotebutton {
    position: sticky;
    bottom: 10px;
    width: max-content;
    left: 15rem;
}

.notedivoption {
    width: 26rem;
    display: flex;
    flex-direction: column;
}

.divheading {
    margin-top: 15px;
}

.pocektnoteheading {
    margin: 0px;
    text-align: center;
}

.divfirstouteroptionlist {
    margin-top: 30px;
    height: 36rem;
}

.disouteroptionlist {
    width: auto;
    margin: auto;
    height: 37rem;
    overflow-y: scroll;
}

.addnotebutton {
    border-radius: 4rem;
    font-size: 50px;
    width: 5rem;
    height: 5rem;
    color: #fff;
    background-color: #16008B;
    cursor: pointer;
    position: sticky;
    bottom: 10px;
    margin-left: 19rem;
    margin-right: auto;
}

.divoptionlist {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 51px;
    margin-left: 30px;
    cursor: pointer;
}

.divchoicecircle {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.selectCirelceName {
    font-size: 20px;
}

.noNotesdiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 7.8rem;
}

/* input: */
.divgroupform {
    width: max-content;
    border-radius: 10px;
    position: sticky;
    z-index: 100;
    left: 38rem;
    bottom: 17rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 0.3px;
}

.imagenonotes {
    width: -webkit-fill-available;
    object-fit: contain;
    height: 20rem;
}

.ptagform {
    margin: 0px;
    margin-right: 30px;
    margin-left: 20px;
}

.ptagcolourchoose {
    margin: 0px;
    margin-right: 12px;
    margin-left: 20px;
}

.formheading {
    margin: auto;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}

.divgroupform form {
    display: flex;
    flex-direction: column;
}

.buttoncreate {
    background-color: #001F8B;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 8px;
    margin: auto;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.inputcreategroup {
    width: -webkit-fill-available;
    height: 30px;
    border-radius: 8px;
    margin-right: 20px;
}

.inputcreategroup:placeholder-shown {
    color: #001F8B;
    font-size: 14px;
}

.inputcreategroup[type=text] {
    padding-left: 14px;
}

.perror {
    margin: auto;
    font-size: 11px;
    letter-spacing: 1px;
    color: red;
    margin-top: 5px;
    margin-left: 10px;
}

.optionColorChoose {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding-right: 15px;
}

.colourlistoption {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.notenavbar {
    display: flex;
    align-items: center;
    background-color: #001F8B;
    padding: 10px;
    color: #fff;
}

.notenavitem {
    display: flex;
    align-items: center;
}

.notesarray {
    overflow-y: scroll;
    height: 27rem;
    width: 70rem;
}
.notedivcontentarray{
    height: 30rem;
    overflow-y: scroll;
}
.contentbox {
    margin: 16px;
    padding: 15px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
}

.textareadiv {
    background-color: blue;
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.notetextarea {
    font-size: 20px;
    resize: none;
    border: 10px solid blue;
    width: 98%;
    height: 7.8rem;
}

.textareadiv textarea::placeholder {
    font-size: 20px;
    padding-left: 5px;
}

.imagebutton {
    object-fit: contain;
    position: relative;
    cursor: pointer;
    height: fit-content;
    bottom: 3.6rem;
    margin-right: auto;
    left: 66rem;
}

@media screen and (max-width:430px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .firstdiv {
        display: flex;
        justify-content: center;
        margin: auto;
        height: fit-content;
        /* width: fit-content; */
    }

    .notedivoption {
        width: 100%;
        height: fit-content;
        display: block;
    }

    .divheading {
        margin-top: 15px;
    }

    /* .noNotesdiv {
        display: none;
    } */

    .notedivcontent {
        width: auto;
        display: none;
        /* display: none !important; */
    }


    .pocektnoteheading {
        margin: 0px;
        text-align: center;
        font-size: 30px;
    }

    .divfirstouteroptionlist {

        margin-top: 0px;
        height: auto;
    }

    .disouteroptionlist {
        height: calc(100vh - 14rem);
        margin-top: 10px;
        width: 30rem;
    }

    .divoptionlist {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 40px;
        margin-left: 10px;
        align-items: center;
    }

    .divchoicecircle {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 17px;
        font-weight: 600;
        color: #f1f1f1;
    }

    .divchoicecircle1 {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 16px;
        font-weight: 600;
        color: #f1f1f1;
    }

    .selectCirelceName {
        font-size: 16px;
    }

    .addnotebutton {
        margin-right: auto;
        border-radius: 50%;
        font-size: 39px;
        width: 4rem;
        height: 4rem;
        background-color: #16008B;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        float: right;
        margin-right: 15px;
    }

    .divgroupform {
        width: 24rem;
        position: sticky;
        margin-top: auto;
        margin-left: auto;
        margin-right: 25px;
        bottom: 50vh;
    }

    .formheading {
        font-size: 17px;
    }

    .ptagform {
        width: 8.2rem;
        font-size: 12px;
        margin-right: 0px;
    }

    .inputcreategroup {
        height: 25px;
        font-size: 12px;
        width: fit-content;
    }

    .inputcreategroup:placeholder-shown {
        font-size: 12px;
    }

    .perror {
        font-size: 9px;
        letter-spacing: 0.7px;
        margin-left: 0px;
    }

    .colourlistoption {
        height: 20px;
        width: 20px;
    }

    .ptagcolourchoose {
        font-size: 12px;
        width: 6rem;
        margin-right: 25px;
    }


    .noteareadiv {
        height: 100vh;
        width: 30rem;
    }

    .arrowimage {
        width: 20px;
    }

    .notenavbar {
        padding-left: 35px;
        padding-top: 20px;
    }
    .notedivcontentarray{
        overflow-y: scroll;
        height: 37rem;
    }
    .valueNotes {
        font-size: 12px;
    }

    .notesarray {
        overflow-y: scroll;
        height: 27rem;
        width: 30rem;
    }

    .contentbox {
        width: 23rem;
        font-size: 10px;
        line-height: 20px;
        margin-left:40px;
    }

    .imagebutton {
        width: 23px;
        pointer-events: auto;
        left: 25rem;
        bottom: 3rem;
    }

    .textareadiv {
        padding-top: 7px;
        padding-bottom: 7px;
        /* position: relative; */
        width: 27em;
        margin-left: 27px;
    }

    .notetextarea{
        width: 24.5rem;
        border: 15px solid blue;
        margin-left: 28px;
        /* height: 7.6rem; */
        font-size: 14px;
        /* border-radius: 5px; */
    }

    .textareadiv textarea::placeholder {
        font-size: 12px;
        padding-left: 5px;
    }
}