.container{
    height: calc(100vh - 0.2rem);
    display: flex;
    overflow: hidden;
}

.noteslist{
    max-width: 26rem;
    min-width: 16rem;
    padding: 1rem 0;
    height: calc(100vh - 2.3rem);
    overflow: hidden;
    width: 100%;;
}

.pocektnoteheading{
    text-align: center;
    margin: 1rem;
}

.divfirstouteroptionlist{
    height: calc(100vh - 5.8rem);
}

.divChatDialogList{
    width: calc(100vw - 26rem);
    min-width: 25.76rem;
    background-color: #dae5f5;
}

.addnotebutton{
    border-radius: 4rem;
    font-size: 45px;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #16008B;
    position: sticky;
    top: 100%;
    float: right;
    margin-right: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.disouteroptionlist {
    height: 100%;
    max-height: calc(100vh - 6rem);
    min-height: 4rem;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 96%;
    top: -5rem;
    overflow-y: auto;
}

.divoptionlist {
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 51px;
    cursor: pointer;
}

.divchoicecircle {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.noNotesdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.notenavitem {
    display: flex;
    align-items: center;
}

.notenavbar {
    background-color: #001F8B;
    padding: 0.75rem;
    color: #fff;
}

.divoutercontentarray{
    height: calc(100vh - 13rem);
    overflow-y: auto;
    border: 1px solid red;
}

.notetextarea {
    font-size: 20px;
    border: 10px solid blue;
    width: -webkit-fill-available;
    height: 7.8rem;
}

.imagebutton {
    position: absolute;
    bottom: 1.2rem;
    right: 1rem;
}

.contentbox {
    /* max-width: 50%; */
    min-width: 20rem;
    width: 100%;
    margin: 16px;
    padding: 15px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
}

@media screen and (max-width:430px) {
    .noteslist{
        min-width: 100vw;
    }
    .noNotesdiv{
        display: none;
    }

    .textBox{
        width: 100vw;
        position: absolute;
        bottom: 0px;
    }

    .divChatDialogList{
        min-width: 100vw;
    }

    .contentbox {
        max-width: -webkit-fill-available;
        min-width: 14rem;
    }
}